/* OWN CSS Code */

/* ------------------------------- */

/* GENERAL */

:root {
    --blue: #1366ae;
    --lightblue: #68a1d5;
    --darkgrey: #aaa;
    --grey: #eee;
    --white: #fff;
    --black: #000;
    --yellow: #ffff00;
    /*--yellow: #e6e600;*/
    --red: #ff0000;
    --text: #fafafa;

    --kolearn-blue: #006699;
    --kolearn-green: #009900;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    margin: auto;
    max-width: 800px;
    padding-bottom: 100px;
}

/* ------------------------------- */

/* HELPERS */

.display-none {
    display: none !important;
}

.display-inline {
    display: inline !important;
}

/* ------------------------------- */

.img-control{
    width: 30px;
    height: 30px;
    background-color: grey;
}

/* ------------------------------- */

/* MODAL */

/*#existingModals > li {
    border-bottom-style: dotted;
}*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background-color: var(--black);*/
    background-color: rgba(0, 0, 0, 0.4);

    color: black;

    justify-content: center;
    align-items: center;
}

.modal-body {
    padding: 16px 16px;
    overflow-y: hidden;
    overflow-x: auto;
}

.modal-header {
    text-align: center;
}

.modal-content {
    position: relative;
    background-color: var(--text);
    margin: auto;
    padding: 0;
    top: 5%;
    /* OLD SETTING
    top: 15%;
    width: 640px;
    height: 360px;
    /* ---------- */
    /* DESKTOP Ok */
    width: 750px;
    /*width: 640px;
    height: 500px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 12px;
}

.text-footer {
    padding-left: 16px;
}

.close {
    color: var(--grey) !important;
    font-size: 40px;
    padding: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: -10px;
    z-index: 99;
    margin: -40px;
}

.close:hover {
    color: var(--white) !important;
}

/* ------------------------------- */

/* IFRAME */

iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
    min-height: 580px;
}

/* ------------------------------- */

.btn-info{
    font-size: .8em;
    padding: 1em;
    border-radius: 56px;
    background-color: var(--kolearn-green);
    border: 2px solid var(--kolearn-green);
    color: white;
}

/* ------------------------------- */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    /*animation: fadeEffect 1s;*/
}

/* ------------------------------- */

/* SLIDESHOW */



/* ------------------------------- */